body {
    align-items: center;
    background-image: url("../images/Track1.png");
    background-size: cover;
    font-family:'Courier New', Courier, monospace;

}

h1 {
    text-align: center;
    font-size: 50px;

    /* FONT STUFF */
    font-family: "Sixtyfour Convergence", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "BLED" 0,
      "SCAN" 0,
      "XELA" 0,
      "YELA" 0;
}

nav {
    background-color: rgba(173, 216, 230, 0.9);
    padding: 10px;
}

nav a{
    color:white;
    padding:25px 25px;
    text-decoration: none;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

nav a:hover{
    background-color: rgb(85, 160, 185);
}

.nav_links {
    text-align: center;
    font-family:Courier;
}