*{
    margin:auto;
    text-align: center;
}
h3, h5{
  font-family: "Bungee Tint", sans-serif;
  font-weight: 400;
  font-style: normal;
}
input{
    text-align: left;
}
.box{
    padding:100px 30px;
    width:300px;
    background-color: rgb(173, 216, 230, .9);
}
.regBox{
  display:flex;
  width:600px;
}
#login{
  font-family: "Bungee Tint", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.loginButton{
  margin-top: 20px;
  margin:20px 10px;
  background-color: darkred;
  color:white;
  border:white 4px solid;
  padding: 10px 20px;
}
.hidden{
  display: none;
}
.errorTXT{
  color:red;
}
