body {
    background-color: lightgray;
    align-items: center;
}



section > div {
    border: solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 20%;
    margin-left: 40%;
}

button {
    text-align: center;
    font-size: large;
    /* width: 400px; */
}

#buttons {
   
    
}

nav {
    display: flex;
    justify-content: row;
}

.nav_links {

}
