body {
    /* background-color: lightgray; */
    align-items: center;
    background-image: url("../images/Track1.png");
    background-size: cover;
    font-family:'Courier New', Courier, monospace;

}

h1 {
    text-align: center;
    font-size: 50px;

    /* FONT STUFF */
    font-family: "Sixtyfour Convergence", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "BLED" 0,
      "SCAN" 0,
      "XELA" 0,
      "YELA" 0;
}

section > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 300px;
}

nav a{
    color:white;
    padding:25px 25px;
    text-decoration: none;
    
}


nav a:hover{
    background-color: rgb(85, 160, 185);
    color:white;
    text-decoration: none;
}

button {
    border: solid black;
    text-align: center;
    font-size: large;
    margin: 20px;
    font-size: 30px;
    background-color: rgb(173, 216, 230);
    font-family:monospace;

    
}

button:hover {
    background-color: rgb(85, 160, 185);
}

#buttons {
   margin-top: 8%;
    
}

nav ul {
    list-style-type: none;
    align-content: center;
    font-size: 30px;
    margin: 0;
    padding: 10;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(173, 216, 230, 0.9);
    padding: 10px;
}

.nav_links {
    text-align: center;
    font-family:Courier;
}

table.center {
    text-align: center;
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-size: 50px;
    letter-spacing: 1px;
    margin-left:auto; 
    margin-right:auto;
    margin-top: 100px;
    background-color: rgb(173, 216, 230, .9);

}

th, td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
  font-size: 50px;
}


.carousel {
    width: 50%;
    margin: 0 auto;
}

.carousel-item img {
    width: 40%;
    height: auto;
    margin-top: 10px;
    margin-left:30%;
}
.carousel-item p {
    /* width: 40%; */
    height: auto;
    margin-top: 10px;
    text-align: center;
    margin: auto;
    font-size: 40px;
    background-color: lightgrey;
    border-radius: 20px;
    font-family:Courier;
    
}