
section > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 300px;
}


/* button {
    border: solid black;
    text-align: center;
    font-size: large;
    margin: 20px;
    font-size: 30px;
    background-color: rgb(173, 216, 230);
    font-family:monospace; 
}

button:hover {
    background-color: rgba(85, 160, 185, 0.662);
} */


#buttons {
   margin-top: 8%;
    
}

table.center {
    text-align: center;
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-size: 50px;
    letter-spacing: 1px;
    margin-left:auto; 
    margin-right:auto;
    margin-top: 100px;
    background-color: rgb(173, 216, 230, .9);

}

th, td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
  font-size: 50px;
}


.carousel {
    width: 50%;
    margin: 0 auto;
}

.carousel-item img {
    width: 40%;
    height: auto;
    margin-top: 10px;
    margin-left:30%;
}
.carousel-item p {
    /* width: 40%; */
    height: auto;
    margin-top: 10px;
    text-align: center;
    margin: auto;
    font-size: 40px;
    background-color: lightgrey;
    border-radius: 20px;
    font-family:Courier;
}

.carousel-item {
    background-color: hwb(0 0% 100% / 0.326);
    border-radius: 20px;
}

#selectChar {
    margin: auto;
    place-content: center;
    margin-left: 45%;
}